.admin__header {
    padding: 1rem 0;
    text-align: center;
}

.admin__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.days__form {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

form {

    h2 {
        margin-bottom: 1rem;
    }
}

.days {
    display: flex;
    flex-wrap: wrap;
    max-width: 708px;
    justify-content: center;


    label {
        gap: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
}



.days__form-day {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;

}

.days__form-day:before {
    content: "";
    background-color: #30cfd0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.days__form-day:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.days__form-label {
    width: 220px;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    color: #8B8E98;
    ;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding-block: 0.3rem;
    padding-left: 0.5rem;
}





.days__form-group {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;


    .days__form-numb-label {
        font-size: 0.75rem;
        color: #8B8E98;
        font-weight: 600;
    }


    .days__form-input {
        width: auto;
        height: 40px;
        padding: 0 0 0 40px;
        border-radius: 7px;
        outline: none;
        border: 1px solid #e5e5e5;
        filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);

        &:focus {
            border: 1px solid transparent;
            box-shadow: 0px 0px 0px 2px #242424;
            background-color: transparent;
        }
    }


    .days__form-icon {
        font-size: 1.4rem;
        position: absolute;
        z-index: 99;
        left: 12px;
        bottom: 11px;
        pointer-events: none;
    }
}


.days__form-submit {
    width: 100%;
    height: 40px;
    border: 0;
    background: #115DFC;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
}

.shift__day {
    width: 140px;
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;

    &:focus {
        outline: none;
    }
}