html {
    font-family: "Poppins";
}

* {
    margin: 0;
    box-sizing: border-box;
}

.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}