html {
    font-family: "Poppins";
}

* {
    margin: 0;
    box-sizing: border-box;
}

.layout {
    width: 100vw;
    height: 100vh;
}

.admin__header {
    padding: 1rem 0;
    text-align: center;
}

.admin__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

form {
    h2 {
        margin-bottom: 1rem;
    }
}

.days {
    display: flex;

    label {
        display: flex;
        gap: 0.5rem;
        margin-right: 1rem;
    }
}