.layout {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.layout__login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.login__form,
.register__form {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px 40px 50px 40px;
    background-color: #ffffff;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
        0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    font-family: "Poppins", sans-serif;

    .login__header,
    .register__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .login__title,
        .register__title {
            margin: 0;
            font-size: 1.8rem;
            font-weight: 700;
            color: #212121;
        }

        .login__subtitle,
        .register__subtitle {
            font-size: 0.725rem;
            max-width: 80%;
            text-align: center;
            line-height: 1.1rem;
            color: #8B8E98
        }
    }

    .login__form-group,
    .register__form-group {
        width: 100%;
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .login__form-label,
        .register__form-label {
            font-size: 0.75rem;
            color: #8B8E98;
            font-weight: 600;
        }

        .login__form-input,
        .register__form-input {
            width: auto;
            height: 40px;
            padding: 0 0 0 40px;
            border-radius: 7px;
            outline: none;
            border: 1px solid #e5e5e5;
            filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
            transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);

            &:focus {
                border: 1px solid transparent;
                box-shadow: 0px 0px 0px 2px #242424;
                background-color: transparent;
            }
        }

        .login__form-icon,
        .register__form-icon {
            font-size: 1.4rem;
            position: absolute;
            z-index: 99;
            left: 12px;
            bottom: 11px;
            pointer-events: none;
        }
    }

    .login__form-submit,
    .register__form-submit {
        width: 100%;
        height: 40px;
        border: 0;
        background: #115DFC;
        border-radius: 7px;
        outline: none;
        color: #ffffff;
        cursor: pointer;
        margin-top: 1rem;
    }

    .login__form-register,
    .register__form-register {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: #212121;
        border-radius: 7px;
        outline: none;
        color: #ffffff;
        border: 1px solid #e5e5e5;
        filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
        cursor: pointer;
    }

    .separator {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        color: #8B8E98;
    }

    .separator .line {
        display: block;
        width: 100%;
        height: 1px;
        border: 0;
        background-color: #929292;
    }

    .note {
        font-size: 0.75rem;
        color: #8B8E98;
        text-decoration: underline;
    }
}

.register__form {
    padding: 2.5rem 2rem;
    padding-top: 1.5rem;

    .register__form-submit {
        background-color: rgb(36, 118, 36);
    }
}




/*PRIVATE LAYOUT*/

.user__header {
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 195px;


    .header__title {
        font-size: 3rem;
        padding-top: 1rem;
        color: white;
        -webkit-text-stroke: 1px black;
        letter-spacing: .05em;
        text-shadow:
            2px 2px 5px #bfbcbc,
            4px 4px 5px rgba(0, 0, 0, 0.2);

    }

    .header__user-container {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0.5rem;
        padding-left: 2rem;
        border-bottom-left-radius: 1rem;
        background-color: rgb(50, 50, 72);
        box-shadow: -3px 5px 30px 0 rgb(108, 107, 107);
    }

    .header__user-name {
        font-size: 1.2rem;
        font-weight: 500;
        color: rgb(190, 186, 186);
    }

    .header__user-image {
        width: 70px;
        height: 70px;
    }

}

.content__private {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 195px;
}

.aside__private {
    width: fit-content;
    height: 100%;
    position: fixed;
    padding: 0 1rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(167, 175, 179, 0.632);
    transition: all 300ms ease-in-out;

    overflow: hidden;


    .aside__button {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0.5rem 1rem;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        color: #fff;
        background-color: #211d31;
        border: none;
        border-radius: 2rem;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        gap: 0.5rem;

        span {
            opacity: 1;

        }

        .aside__button-icon {
            font-size: 1.7rem;
        }


    }

    .aside__button:hover {
        background-color: #d92f68;
        box-shadow: 0px 15px 20px rgba(134, 46, 229, 0.4);
        color: #fff;
        transform: translateY(-3px);

        &:nth-child(2) {
            background-color: #4923c4;
        }

        &:nth-child(3) {
            background-color: rgba(70, 209, 20, 0.721);
        }

        &:last-child {
            background-color: rgb(194, 46, 46);
        }
    }



    .aside__button-active {
        background-color: var(--back)
    }



}

/*LISTADO DE TURNOS*/


.calendary__handler {
    float: right;
    margin-right: 1rem;
}

.list__shifts__header {
    margin: 1rem 0;

    .shift__date {
        float: right;
    }

    .shift__day,
    .shift__date {
        width: 140px;
        padding: 0.3rem;
        font-size: 1rem;
        border: 1px solid rgb(172, 163, 163);
        border-radius: 0.5rem;

        &:focus {
            outline: none;
        }
    }
}

.list__shifts-title {
    color: rgb(80, 79, 79);
}



.list__shifts {
    list-style: none;
    width: 100%;
    height: 470px;
    overflow-y: scroll;
}

.shifts__shift {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    padding-left: 0;

    .shift__box-info {
        width: 100%;
        background-color: lightblue;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        margin-right: 3rem;

        .shift__info {
            margin-top: -0.5rem;
            font-weight: 500;
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }

        .shift__schedule {
            letter-spacing: 1px;
        }
    }

    .shift__submit {
        padding: 1.3em 3em;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    .shift__submit:hover {
        background-color: #23c483;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    .shift__submit:active {
        transform: translateY(-1px);
    }
}



/*MODAL CONFIRMAR RESERVA*/

.modal__reservation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.194);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(500px);

    .reservation__container {
        position: relative;
        width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem 2rem;
        background-color: lightblue;
        border-radius: 0.5rem;

        .reservation__closeModal {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 2rem;
            color: red;
        }

        .reservation__title {
            margin-bottom: 1rem;
            font-weight: 500;
        }




        .reservation__info {
            width: 100%;
            padding: 0 1rem;
            margin-right: 3rem;

            p {
                margin-bottom: 0.5rem;
                font-size: 1rem;
                color: #434343;
            }
        }

        .reservation__submit {
            padding: 1.3em 3em;
            font-size: 10px;

            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: #fff;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            margin: 1rem 0;

        }

        .reservation__submit:hover {
            background-color: #23c483;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-3px);
        }

        .reservation__submit:active {
            transform: translateY(-1px);
        }
    }

}



/*HOME STYLES*/

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    section {
        width: 100%;
        height: 100%;

    }

    .home__map {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        .home__map-iframe {
            border: none;
            border-radius: 5px;
        }
    }

    .home__map-title {
        margin-bottom: 0.5rem;
    }

    .home__advices {
        width: 35%;
    }

    .home__shifts {
        padding-right: 2rem;
        width: 65%;

        .shifts__extra-info {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            font-size: 1.1rem;
            opacity: 0.9;
            margin-top: 0.5rem;
        }
    }

}


/*SLIDER */

.slider {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 0.5rem;

    img {
        flex: 1 0 auto;
        margin: 0 40px;
        border-radius: 0.2rem;
        width: 450px;
        height: 450px;


    }
}